#支持字段 @default 默认值显示
field.default.value=#default
#导出时参数增加类型说明
param.doc=groovy:"类型:"+tool.uncapitalize(it.type().name().replace("java.lang.",""))

#支持api设置@Validated当body请求
param.http.type[@org.springframework.validation.annotation.Validated]=body
#响应注释指定为data
method.return.main[groovy:it.returnType().isExtend("com.kalvan.client.model.Response")]=data
method.return.main[groovy:it.returnType().isExtend("com.kalvan.client.model.ApiResponse")]=data
#忽略字段不显示
json.rule.field.ignore=groovy:it.toString()=="com.kalvan.client.model.Response#system"
#method.content.type=multipart/form-data
#method.content.type=application/json
