<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.cust.mapper.FeeMerchantMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.cust.model.FeeMerchant">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="merchant_no" jdbcType="BIGINT" property="merchantNo"/>
        <result column="trans_type" jdbcType="TINYINT" property="transType"/>
        <result column="fee_mode" jdbcType="TINYINT" property="feeMode"/>
        <result column="fee_object" jdbcType="TINYINT" property="feeObject"/>
        <result column="fee_rule" jdbcType="VARCHAR" property="feeRule"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.merchant_no
             , t.trans_type
             , t.fee_mode
             , t.fee_object
             , t.fee_rule
             , t.state
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM fee_merchant t
        WHERE
        <if test="params.merchantNo != null and params.merchantNo.trim() != ''">
            t.merchant_no = #{params.merchantNo} AND
        </if>
        <if test="params.transType != null and params.transType.trim() != ''">
            t.trans_type = #{params.transType} AND
        </if>
        <if test="params.feeMode != null and params.feeMode.trim() != ''">
            t.fee_mode = #{params.feeMode} AND
        </if>
        <if test="params.feeObject != null and params.feeObject.trim() != ''">
            t.fee_object = #{params.feeObject} AND
        </if>
        <if test="params.feeRule != null and params.feeRule.trim() != ''">
            t.fee_rule LIKE CONCAT(#{params.feeRule},'%') AND
        </if>
        <if test="params.state != null and params.state.trim() != ''">
            t.state = #{params.state} AND
        </if>
        <if test="params.createTimeBegin != null and params.createTimeBegin.trim() != ''">
            t.create_time BETWEEN #{params.createTimeBegin} AND #{params.createTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>