<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.cust.mapper.SubMerchantInfoMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.cust.model.SubMerchantInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sub_merchant_no" jdbcType="BIGINT" property="subMerchantNo"/>
        <result column="sub_merchant_name" jdbcType="VARCHAR" property="subMerchantName"/>
        <result column="cust_no" jdbcType="BIGINT" property="custNo"/>
        <result column="merchant_no" jdbcType="BIGINT" property="merchantNo"/>
        <result column="bank_account_no" jdbcType="VARCHAR" property="bankAccountNo"/>
        <result column="bank_account_name" jdbcType="VARCHAR" property="bankAccountName"/>
        <result column="bank_account_type" jdbcType="TINYINT" property="bankAccountType"/>
        <result column="bank_type" jdbcType="VARCHAR" property="bankType"/>
        <result column="bank_name" jdbcType="VARCHAR" property="bankName"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.sub_merchant_no
             , t.sub_merchant_name
             , t.cust_no
             , t.merchant_no
             , t.bank_account_no
             , t.bank_account_name
             , t.bank_account_type
             , t.bank_type
             , t.bank_name
             , t.state
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM sub_merchant_info t
        WHERE
        <if test="params.subMerchantNo != null and params.subMerchantNo.trim() != ''">
            t.sub_merchant_no = #{params.subMerchantNo} AND
        </if>
        <if test="params.custNo != null and params.custNo.trim() != ''">
            t.cust_no = #{params.custNo} AND
        </if>
        <if test="params.merchantNo != null and params.merchantNo.trim() != ''">
            t.merchant_no = #{params.merchantNo} AND
        </if>
        <if test="params.bankAccountNo != null and params.bankAccountNo.trim() != ''">
            t.bank_account_no = #{params.bankAccountNo} AND
        </if>
        <if test="params.state != null and params.state.trim() != ''">
            t.state = #{params.state} AND
        </if>
        <if test="params.createTimeBegin != null and params.createTimeBegin.trim() != ''">
            t.create_time BETWEEN #{params.createTimeBegin} AND #{params.createTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>