<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.cust.mapper.FeeSegmentRuleMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.cust.model.FeeSegmentRule">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="fee_segment_rule" jdbcType="VARCHAR" property="feeSegmentRule"/>
        <result column="begin_amount" jdbcType="BIGINT" property="beginAmount"/>
        <result column="end_amount" jdbcType="BIGINT" property="endAmount"/>
        <result column="fee_type" jdbcType="TINYINT" property="feeType"/>
        <result column="fee_rate" jdbcType="BIGINT" property="feeRate"/>
        <result column="fix_fee" jdbcType="BIGINT" property="fixFee"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT
            t.id,
            t.fee_segment_rule,
            t.begin_amount,
            t.end_amount,
            t.fee_type,
            t.fee_rate,
            t.fix_fee,
            t.state,
            t.create_time,
            t.update_time,
            1
    </sql>

    <sql id="whereCondition">
        FROM fee_segment_rule t
        WHERE 1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>

    <select id="getFeeSegmentRule" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        FROM fee_segment_rule t where fee_segment_rule=#{feeSegmentRule} and state=0 order by end_amount
    </select>


</mapper>