<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.settle.mapper.AccountSummaryDayMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.settle.model.AccountSummaryDay">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account_date" jdbcType="INTEGER" property="accountDate"/>
        <result column="total_amount_before" jdbcType="BIGINT" property="totalAmountBefore"/>
        <result column="total_amount_today" jdbcType="BIGINT" property="totalAmountToday"/>
        <result column="income_amount" jdbcType="BIGINT" property="incomeAmount"/>
        <result column="income_profit_amount" jdbcType="BIGINT" property="incomeProfitAmount"/>
        <result column="outgo_amount" jdbcType="BIGINT" property="outgoAmount"/>
        <result column="outgo_profit_amount" jdbcType="BIGINT" property="outgoProfitAmount"/>
        <result column="fee_amount" jdbcType="BIGINT" property="feeAmount"/>
        <result column="balance_state" jdbcType="TINYINT" property="balanceState"/>
        <result column="check_state" jdbcType="TINYINT" property="checkState"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.account_date
             , t.total_amount_before
             , t.total_amount_today
             , t.income_amount
             , t.income_profit_amount
             , t.outgo_amount
             , t.outgo_profit_amount
             , t.fee_amount
             , t.balance_state
             , t.check_state
             , t.create_time
             , t.remark
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM account_summary_day t
        WHERE
        <if test="params.accountDate != null and params.accountDate.trim() != ''">
            t.account_date = #{params.accountDate} AND
        </if>
        <if test="params.balanceState != null and params.balanceState.trim() != ''">
            t.balance_state = #{params.balanceState} AND
        </if>
        <if test="params.checkState != null and params.checkState.trim() != ''">
            t.check_state = #{params.checkState} AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>