<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.settle.mapper.AccountReportDayMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.settle.model.AccountReportDay">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account_date" jdbcType="INTEGER" property="accountDate"/>
        <result column="ref_trans_type" jdbcType="TINYINT" property="refTransType"/>
        <result column="voucher_type" jdbcType="INTEGER" property="voucherType"/>
        <result column="debit_amount" jdbcType="BIGINT" property="debitAmount"/>
        <result column="debit_adjust_amount" jdbcType="BIGINT" property="debitAdjustAmount"/>
        <result column="credit_amount" jdbcType="BIGINT" property="creditAmount"/>
        <result column="credit_adjust_amount" jdbcType="BIGINT" property="creditAdjustAmount"/>
        <result column="freeze_amount" jdbcType="BIGINT" property="freezeAmount"/>
        <result column="unfreeze_amount" jdbcType="BIGINT" property="unfreezeAmount"/>
        <result column="income_fee" jdbcType="BIGINT" property="incomeFee"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.account_date
             , t.ref_trans_type
             , t.voucher_type
             , t.debit_amount
             , t.debit_adjust_amount
             , t.credit_amount
             , t.credit_adjust_amount
             , t.freeze_amount
             , t.unfreeze_amount
             , t.income_fee
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM account_report_day t
        WHERE
        <if test="params.accountDate != null and params.accountDate.trim() != ''">
            t.account_date = #{params.accountDate} AND
        </if>
        <if test="params.refTransType != null and params.refTransType.trim() != ''">
            t.ref_trans_type = #{params.refTransType} AND
        </if>
        <if test="params.voucherType != null and params.voucherType.trim() != ''">
            t.voucher_type = #{params.voucherType} AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>