<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.settle.mapper.ChannelCheckBillMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.settle.model.ChannelCheckBill">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="channel_no" jdbcType="INTEGER" property="channelNo"/>
        <result column="channel_merchant_no" jdbcType="VARCHAR" property="channelMerchantNo"/>
        <result column="channel_send_sn" jdbcType="VARCHAR" property="channelSendSn"/>
        <result column="channel_recv_sn" jdbcType="VARCHAR" property="channelRecvSn"/>
        <result column="check_type" jdbcType="TINYINT" property="checkType"/>
        <result column="trans_state" jdbcType="TINYINT" property="transState"/>
        <result column="check_state" jdbcType="TINYINT" property="checkState"/>
        <result column="check_date" jdbcType="INTEGER" property="checkDate"/>
        <result column="trans_time" jdbcType="VARCHAR" property="transTime"/>
        <result column="order_amount" jdbcType="BIGINT" property="orderAmount"/>
        <result column="channel_fee" jdbcType="BIGINT" property="channelFee"/>
        <result column="bank_account_no" jdbcType="VARCHAR" property="bankAccountNo"/>
        <result column="bank_account_name" jdbcType="VARCHAR" property="bankAccountName"/>
        <result column="org_channel_send_sn" jdbcType="VARCHAR" property="orgChannelSendSn"/>
        <result column="org_order_amount" jdbcType="BIGINT" property="orgOrderAmount"/>
        <result column="org_channel_fee" jdbcType="BIGINT" property="orgChannelFee"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.channel_no
             , t.channel_merchant_no
             , t.channel_send_sn
             , t.channel_recv_sn
             , t.check_type
             , t.trans_state
             , t.check_state
             , t.check_date
             , t.trans_time
             , t.order_amount
             , t.channel_fee
             , t.bank_account_no
             , t.bank_account_name
             , t.org_channel_send_sn
             , t.org_order_amount
             , t.org_channel_fee
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM channel_check_bill t
        WHERE
        <if test="params.channelNo != null and params.channelNo.trim() != ''">
            t.channel_no = #{params.channelNo} AND
        </if>
        <if test="params.channelMerchantNo != null and params.channelMerchantNo.trim() != ''">
            t.channel_merchant_no = #{params.channelMerchantNo} AND
        </if>
        <if test="params.checkType != null and params.checkType.trim() != ''">
            t.check_type = #{params.checkType} AND
        </if>
        <if test="params.transState != null and params.transState.trim() != ''">
            t.trans_state = #{params.transState} AND
        </if>
        <if test="params.checkState != null and params.checkState.trim() != ''">
            t.check_state = #{params.checkState} AND
        </if>
        <if test="params.checkDate != null and params.checkDate.trim() != ''">
            t.check_date = #{params.checkDate} AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>