<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.settle.mapper.MerchantSettleRecordMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.settle.model.MerchantSettleRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="batch_id" jdbcType="VARCHAR" property="batchId"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="trans_id" jdbcType="VARCHAR" property="transId"/>
        <result column="merchant_no" jdbcType="BIGINT" property="merchantNo"/>
        <result column="bank_account_name" jdbcType="VARCHAR" property="bankAccountName"/>
        <result column="bank_account_no" jdbcType="VARCHAR" property="bankAccountNo"/>
        <result column="certificate_no" jdbcType="VARCHAR" property="certificateNo"/>
        <result column="bank_account_type" jdbcType="TINYINT" property="bankAccountType"/>
        <result column="bank_name" jdbcType="VARCHAR" property="bankName"/>
        <result column="bank_type" jdbcType="VARCHAR" property="bankType"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="settle_amount" jdbcType="BIGINT" property="settleAmount"/>
        <result column="settle_merchant_fee" jdbcType="BIGINT" property="settleMerchantFee"/>
        <result column="settle_date" jdbcType="BIGINT" property="settleDate"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="trans_state" jdbcType="TINYINT" property="transState"/>
        <result column="result_note" jdbcType="VARCHAR" property="resultNote"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.batch_id
             , t.order_id
             , t.trans_id
             , t.merchant_no
             , t.bank_account_name
             , t.bank_account_no
             , t.certificate_no
             , t.bank_account_type
             , t.bank_name
             , t.bank_type
             , t.mobile
             , t.settle_amount
             , t.settle_merchant_fee
             , t.settle_date
             , t.state
             , t.trans_state
             , t.result_note
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM merchant_settle_record t
        WHERE
        <if test="params.batchId != null and params.batchId.trim() != ''">
            t.batch_id = #{params.batchId} AND
        </if>
        <if test="params.orderId != null and params.orderId.trim() != ''">
            t.order_id = #{params.orderId} AND
        </if>
        <if test="params.transId != null and params.transId.trim() != ''">
            t.trans_id = #{params.transId} AND
        </if>
        <if test="params.merchantNo != null and params.merchantNo.trim() != ''">
            t.merchant_no = #{params.merchantNo} AND
        </if>
        <if test="params.settleDate != null and params.settleDate.trim() != ''">
            t.settle_date = #{params.settleDate} AND
        </if>
        <if test="params.state != null and params.state.trim() != ''">
            t.state = #{params.state} AND
        </if>
        <if test="params.transState != null and params.transState.trim() != ''">
            t.trans_state = #{params.transState} AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>