<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.settle.mapper.MerchantCheckRecordMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.settle.model.MerchantCheckRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="merchant_no" jdbcType="BIGINT" property="merchantNo"/>
        <result column="org_no" jdbcType="BIGINT" property="orgNo"/>
        <result column="check_date" jdbcType="INTEGER" property="checkDate"/>
        <result column="trans_type" jdbcType="TINYINT" property="transType"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="error_count" jdbcType="TINYINT" property="errorCount"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="token_expiry" jdbcType="TIMESTAMP" property="tokenExpiry"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.merchant_no
             , t.org_no
             , t.check_date
             , t.trans_type
             , t.file_path
             , t.error_count
             , t.state
             , t.note
             , t.token
             , t.token_expiry
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM merchant_check_record t
        WHERE
        <if test="params.merchantNo != null and params.merchantNo.trim() != ''">
            t.merchant_no = #{params.merchantNo} AND
        </if>
        <if test="params.orgNo != null and params.orgNo.trim() != ''">
            t.org_no = #{params.orgNo} AND
        </if>
        <if test="params.checkDate != null and params.checkDate.trim() != ''">
            t.check_date = #{params.checkDate} AND
        </if>
        <if test="params.transType != null and params.transType.trim() != ''">
            t.trans_type = #{params.transType} AND
        </if>
        <if test="params.filePath != null and params.filePath.trim() != ''">
            t.file_path = #{params.filePath} AND
        </if>
        <if test="params.state != null and params.state.trim() != ''">
            t.state = #{params.state} AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>