<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.settle.mapper.ReportTradeBankMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.settle.model.ReportTradeBank">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account_date" jdbcType="INTEGER" property="accountDate"/>
        <result column="bank_type" jdbcType="VARCHAR" property="bankType"/>
        <result column="ratio" jdbcType="VARCHAR" property="ratio"/>
        <result column="success_amount" jdbcType="BIGINT" property="successAmount"/>
        <result column="success_number" jdbcType="BIGINT" property="successNumber"/>
        <result column="channel_no" jdbcType="BIGINT" property="channelNo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.account_date
             , t.bank_type
             , t.ratio
             , t.success_amount
             , t.success_number
             , t.channel_no
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM report_trade_bank t
        WHERE
        <if test="params.accountDate != null and params.accountDate.trim() != ''">
            t.account_date = #{params.accountDate} AND
        </if>
        <if test="params.bankType != null and params.bankType.trim() != ''">
            t.bank_type = #{params.bankType} AND
        </if>
        <if test="params.channelNo != null and params.channelNo.trim() != ''">
            t.channel_no = #{params.channelNo} AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>