<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    var schemeXforward = /*[[${#httpServletRequest.getHeader("X-Forwarded-Proto")}]]*/;
    var scheme = /*[[${#httpServletRequest.getScheme()}]]*/;
    var serverName =/*[[${ #httpServletRequest.getServerName() }]]*/;
    var serverPort =/*[[${ #httpServletRequest.getServerPort() }]]*/;
    var contextPath =/*[[${ #httpServletRequest.getContextPath()}]]*/;
    var requestUrl = /*[[${#httpServletRequest.requestURL}]]*/;
    var domain = "";
    if (serverPort == "80") {
        serverPort = "";
    } else {
        serverPort = ":" + serverPort;
    }
    if (schemeXforward == null) {
        domain = scheme + "://" + serverName + serverPort;
    } else {
        domain = schemeXforward + "://" + serverName + serverPort;
    }
    var basepath = domain + contextPath;

    /*]]>*/
    lang=[[#{global.lang}]];
</script>
