<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="top">
    <div class="top_bottom clearfix">
        <div class="logo">
            <div class="logo_img">
                <a th:href="${productConfig.homeUrl}">
                    <img th:src="${productConfig.logoData}"
                         alt="" height="47"/>
                </a>
            </div>
            <div class="logo_aside_font">
                <a th:href="${productConfig.homeUrl}">
                    <img th:src="@{/images/flag.png}"
                        style="cursor: pointer; margin-top: 16px;"></a>
            </div>
        </div>
        <div class="logo_titile">
            <div class="hdright">在线支付体验</div>
        </div>
    </div>
</div>