<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${productConfig.company}+'-模拟商家收银台'">模拟商家收银台</title>
    <link rel="icon" th:href="${productConfig.favicon}" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/footer.js}"></script>
</head>
<body>
<html th:replace="header"/>
<div class="container">
    <div class="banner1"></div>
    <div class="list">
        <ul class="clearfix">
            <li><img th:src="@{/images/kj_icon.png}">
                <h3>快捷支付</h3>
                <p>最安全、轻松的支付方式， 无需登录网上银行，输入支付密码即可完成付款。</p></li>
            <li><img th:src="@{/images/wy_icon.png}">
                <h3>网银支付</h3>
                <p>即时到账交易模式，付款方可使用其银行账户，通过对应银行支付交易款项。</p></li>
            <li><img th:src="@{/images/scancode_icon.png}">
                <h3>扫码支付</h3>
                <p>付款时只需需要使用微信、支付宝应用扫描二维码即可支付交易款项。</p></li>
            <li><img th:src="@{/images/ye_icon.png}">
                <h3>余额支付</h3>
                <p>已拥有账户，且账户有余额即可使用该账户余额进行付款交易。</p></li>
        </ul>
    </div>
    <div class="banner2">
        <div class="list" style="height: 100%;">
            <div class="pos_btn">
                <h3>体验支付</h3>
                <input type="button" value="立即体验" id="directPay"/>
            </div>
        </div>
    </div>
    <div class="banner3">
        <div class="list">
            <h2>
                <span>中行卡、招行卡、工商卡...</span>想体验哪张卡就点哪张卡！
            </h2>
            <div class="theForm">
                <div class="clearfix">
                    <input class="textstyle" type="text" placeholder="请输入您需要体验的银行"
                           id="bankTypeIn"><a id="directNetBank" class="btn_style"></a>
                </div>
                <ul class="yh_logo clearfix">
                    <li><a class="directNetBank" id="1041000"> <img
                            th:src="@{/images/bank/zgyh.png}">
                    </a></li>
                    <li><a class="directNetBank" id="3085840"> <img
                            th:src="@{/images/bank/zsyh.png}">
                    </a></li>
                    <li><a class="directNetBank" id="1031000"> <img
                            th:src="@{/images/bank/nyyh.png}">
                    </a></li>
                    <li><a class="directNetBank" id="3102900"> <img
                            th:src="@{/images/bank/pfyh.png}">
                    </a></li>
                    <li><a class="directNetBank" id="3012900"> <img
                            th:src="@{/images/bank/jtyh.png}">
                    </a></li>
                    <li><a class="directNetBank" id="3131000"> <img
                            th:src="@{/images/bank/bjyh.png}">
                    </a></li>
                    <li><a class="directNetBank" id="1021000"> <img
                            th:src="@{/images/bank/gsyh.png}">
                    </a></li>
                    <li><a class="directNetBank" id="3071000"> <img
                            th:src="@{/images/bank/payh.png}">
                    </a></li>
                    <li><a class="directNetBank" id="1051000"> <img
                            th:src="@{/images/bank/jsyh.png}">
                    </a></li>
                    <li><a class="directNetBank" id="3021000"> <img
                            th:src="@{/images/bank/zxyh.png}">
                    </a></li>
                    <li><a class="directNetBank" id="3031000"> <img
                            th:src="@{/images/bank/gdyh.png}">
                    </a></li>
                    <li><a class="directNetBank" id="4031000"> <img
                            th:src="@{/images/bank/zgyz.png}">
                    </a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<form name="payForm" th:action="@{/pay}" method="post">
    <input type="hidden" name="payMode" id="payMode"/>
    <input type="hidden" name="bankType" id="bankType"/>
</form>
<html th:replace="footer"/>
</body>
<script>
    $(document).ready(function () {
        // 直接进入 即时到账
        $('#directPay').click(function () {
            $("#payMode").val("cashier");
            document.payForm.submit();
        });
        // 指定银行进入
        $('#directNetBank').click(function () {
            var bankTypeIn = $("#bankTypeIn").val();
            if (bankTypeIn == null || bankTypeIn == "" || bankTypeIn == undefined) {
                return;
            }
            $("#payMode").val("direct");
            $("#bankType").val(bankTypeIn);
            document.payForm.submit();
        });
        // 点击银行logo指定银行进入
        $('.directNetBank').click(function () {
            $("#payMode").val("direct");
            $("#bankType").val($(this).attr('id'));
            document.payForm.submit();
        });
    });
</script>
</html>