<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${productConfig.company}+'-模拟商家收银台'">模拟商家收银台</title>
    <link rel="icon" th:href="${productConfig.favicon}" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/footer.js}"></script>
    <!-- basepath获取项目根路径 -->
    <script th:replace="basepath"></script>
</head>
<body>
<html th:replace="header"/>
<div class="container body3">
    <div class="wrap_experience">
        <div class="ex_body">
            <div class="timing_box">
                <h3>感谢您的支付体验！</h3>
                <c:if test="${refundFlag eq true}">
                    <p>正在为您发起退款，请勿关闭页面，以免退款失败。</p>
                    <span class="overTime">10</span>
                </c:if>
            </div>
        </div>
    </div>
</div>
<form action="${actionUrl}" name="refundForm" method="post" th:if="${refundFlag}">
    <input type="hidden" name="orderId" th:value="${orderId}"/>
    <input type="hidden" name="transId" th:value="${transId}"/>
    <input type="hidden" name="amount" th:value="${amount}"/>
</form>
<html th:replace="footer"/>
</body>
<script type="text/javascript">
    let waitSecond = 10;
    countDown();

    // 自动跳转页面
    function countDown() {
        if (--waitSecond > 0) {
            $(".overTime").html(waitSecond);
            setTimeout("countDown()", 1000);
        } else {
            // document.refundForm.submit();
            window.location.href = basepath;
        }
    }
</script>
</html>