<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${productConfig.company}+'-模拟商家收银台'">模拟商家收银台</title>
    <link rel="icon" th:href="${productConfig.favicon}" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/footer.js}"></script>
    <script>
        $(document)
            .ready(
                function () {
                    var wH = $(window).height();
                    var wdetailH = wH
                        - ($('#head').outerHeight() + $('#foot')
                            .outerHeight());
                    $('#wdetail').css('height', wdetailH - 2);
                });
    </script>
</head>
<body>
<div id="head">
    <div class="main">
        <img class="logo" th:src="${productConfig.logoData}"
             alt="" height="47"/>
        <div class="head-right">
            <span>客服电话：<th:block th:text="${productConfig.telephone}">productConfig.telephone</th:block></span>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="wdetail">
    <div class="main">
        <div class="loding">
            <img class="loding-img"
                 th:src="@{/images/loding.gif}"/>
            <p class="p2">拼命加载模拟商家收银台，请稍后...</p>
        </div>
    </div>
</div>
<div id="foot">
    <div class="main">
        <p class="icp-p">© <th:block th:text="${productConfig.company}">productConfig.company</th:block></p>
        <div class="ICP-area">
            <a id="license" class="icp-a1"></a>
            <a href="#" class="icp-a2"></a>
            <a href="#" class="icp-a3"></a>
            <a href="#" class="icp-a4"></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<form th:action="${actionUrl}" name="payForm" method="post">
    <input type="hidden" th:name="${map.key}" th:value="${map.value}" th:each="map:${params}"/>
</form>
</body>
<script type="text/javascript">
    document.payForm.submit();
</script>
</html>