<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${productConfig.company}+'-模拟商家收银台'">模拟商家收银台</title>
    <link rel="icon" th:href="${productConfig.favicon}" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/footer.js}"></script>
</head>
<body>
<html th:replace="header"/>
<div class="container body3">
    <div class="suc-wrap suc-wrap2">
        <div style="padding-bottom:30px">
            <div class="refund_page">
                <img th:src="@{/images/refund-icon.png}">
                <div class="test-tips-show">
                    <h3>退款成功！</h3>
                    <p>1-7个工作日内资金原路退回，请您关注账户资金动态。</p>
                    <span class="returnOnline overTime">5</span>
                </div>
            </div>
        </div>
    </div>
</div>
<html th:replace="footer"/>
</body>
<script type="text/javascript">
    var times = 5;
    function run() {
        if ($(".overTime").html() == 0) {
            window.location.href = "xxxxx";
            return false;
        }
        $(".overTime").html(--times);
    }
    var clearrun = window.setInterval("run();", 1000);
</script>
</html>