<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.channel.mapper.ChannelMerchantPoolMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.channel.model.ChannelMerchantPool">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="channel_no" jdbcType="INTEGER" property="channelNo"/>
        <result column="channel_merchant_no" jdbcType="VARCHAR" property="channelMerchantNo"/>
        <result column="channel_sub_merchant_no" jdbcType="VARCHAR" property="channelSubMerchantNo"/>
        <result column="channel_sub_merchant_name" jdbcType="VARCHAR" property="channelSubMerchantName"/>
        <result column="merchant_no" jdbcType="BIGINT" property="merchantNo"/>
        <result column="city" jdbcType="INTEGER" property="city"/>
        <result column="mcc" jdbcType="INTEGER" property="mcc"/>
        <result column="begin_time" jdbcType="VARCHAR" property="beginTime"/>
        <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
        <result column="limit_min_amount" jdbcType="BIGINT" property="limitMinAmount"/>
        <result column="limit_max_amount" jdbcType="BIGINT" property="limitMaxAmount"/>
        <result column="day_use_amount" jdbcType="BIGINT" property="dayUseAmount"/>
        <result column="day_limit_amount" jdbcType="BIGINT" property="dayLimitAmount"/>
        <result column="month_use_amount" jdbcType="BIGINT" property="monthUseAmount"/>
        <result column="month_limit_amount" jdbcType="BIGINT" property="monthLimitAmount"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.channel_no
             , t.channel_merchant_no
             , t.channel_sub_merchant_no
             , t.channel_sub_merchant_name
             , t.merchant_no
             , t.city
             , t.mcc
             , t.begin_time
             , t.end_time
             , t.limit_min_amount
             , t.limit_max_amount
             , t.day_use_amount
             , t.day_limit_amount
             , t.month_use_amount
             , t.month_limit_amount
             , t.state
             , t.remark
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM channel_merchant_pool t
        WHERE
        <if test="params.channelNo != null and params.channelNo.trim() != ''">
            t.channel_no = #{params.channelNo} AND
        </if>
        <if test="params.channelMerchantNo != null and params.channelMerchantNo.trim() != ''">
            t.channel_merchant_no LIKE CONCAT(#{params.channelMerchantNo},'%') AND
        </if>
        <if test="params.channelSubMerchantNo != null and params.channelSubMerchantNo.trim() != ''">
            t.channel_sub_merchant_no LIKE CONCAT(#{params.channelSubMerchantNo},'%') AND
        </if>
        <if test="params.channelSubMerchantName != null and params.channelSubMerchantName.trim() != ''">
            t.channel_sub_merchant_name LIKE CONCAT(#{params.channelSubMerchantName},'%') AND
        </if>
        <if test="params.merchantNo != null and params.merchantNo.trim() != ''">
            t.merchant_no = #{params.merchantNo} AND
        </if>
        <if test="params.beginTime != null and params.beginTime.trim() != ''">
            t.begin_time <![CDATA[ >= ]]> #{params.beginTime} AND
        </if>
        <if test="params.endTime != null and params.endTime.trim() != ''">
            t.end_time <![CDATA[ <= ]]> #{params.endTime} AND
        </if>
        <if test="params.limitMinAmount != null and params.limitMinAmount.trim() != ''">
            t.limit_min_amount <![CDATA[ >= ]]> #{params.limitMinAmount} AND
        </if>
        <if test="params.limitMaxAmount != null and params.limitMaxAmount.trim() != ''">
            t.limit_max_amount <![CDATA[ <= ]]> #{params.limitMaxAmount} AND
        </if>
        <if test="params.updateTime != null and params.updateTime.trim() != ''">
            t.update_time = #{params.updateTime} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>

    <select id="querySum" resultType="java.util.HashMap">
        SELECT SUM(t.limit_min_amount) limitMinAmount
        , SUM(t.limit_max_amount) limitMaxAmount
        , SUM(t.day_use_amount) dayUseAmount
        , SUM(t.day_limit_amount) dayLimitAmount
        , SUM(t.month_use_amount) monthUseAmount
        , SUM(t.month_limit_amount) monthLimitAmount
        <include refid="whereCondition"/>
    </select>

</mapper>