<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.channel.mapper.ChannelReturnCodeMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.channel.model.ChannelReturnCode">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="channel_no" jdbcType="INTEGER" property="channelNo"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="channel_return_code" jdbcType="VARCHAR" property="channelReturnCode"/>
        <result column="channel_result_note" jdbcType="VARCHAR" property="channelResultNote"/>
        <result column="return_code" jdbcType="VARCHAR" property="returnCode"/>
        <result column="return_note" jdbcType="VARCHAR" property="returnNote"/>
        <result column="trans_state" jdbcType="TINYINT" property="transState"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.channel_no
             , t.pay_type
             , t.channel_return_code
             , t.channel_result_note
             , t.return_code
             , t.return_note
             , t.trans_state
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM channel_return_code t
        WHERE
        <if test="params.channelNo != null and params.channelNo.trim() != ''">
            t.channel_no = #{params.channelNo} AND
        </if>
        <if test="params.payType != null and params.payType.trim() != ''">
            t.pay_type = #{params.payType} AND
        </if>
        <if test="params.channelReturnCode != null and params.channelReturnCode.trim() != ''">
            t.channel_return_code LIKE CONCAT(#{params.channelReturnCode},'%') AND
        </if>
        <if test="params.returnCode != null and params.returnCode.trim() != ''">
            t.return_code = #{params.returnCode} AND
        </if>
        <if test="params.transState != null and params.transState.trim() != ''">
            t.trans_state = #{params.transState} AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>