<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.channel.mapper.ChannelFeeMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.channel.model.ChannelFee">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="channel_no" jdbcType="INTEGER" property="channelNo"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="bank_type" jdbcType="VARCHAR" property="bankType"/>
        <result column="bank_account_type" jdbcType="TINYINT" property="bankAccountType"/>
        <result column="fee_type" jdbcType="TINYINT" property="feeType"/>
        <result column="fee_rate" jdbcType="BIGINT" property="feeRate"/>
        <result column="fix_fee" jdbcType="BIGINT" property="fixFee"/>
        <result column="min_fee" jdbcType="BIGINT" property="minFee"/>
        <result column="fee_segment_rule" jdbcType="VARCHAR" property="feeSegmentRule"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.channel_no
             , t.pay_type
             , t.bank_type
             , t.bank_account_type
             , t.fee_type
             , t.fee_rate
             , t.fix_fee
             , t.min_fee
             , t.fee_segment_rule
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM channel_fee t
        WHERE
        <if test="params.channelNo != null and params.channelNo.trim() != ''">
            t.channel_no = #{params.channelNo} AND
        </if>
        <if test="params.payType != null and params.payType.trim() != ''">
            t.pay_type = #{params.payType} AND
        </if>
        <if test="params.bankType != null and params.bankType.trim() != ''">
            t.bank_type = #{params.bankType} AND
        </if>
        <if test="params.bankAccountType != null and params.bankAccountType.trim() != ''">
            t.bank_account_type = #{params.bankAccountType} AND
        </if>
        <if test="params.feeType != null and params.feeType.trim() != ''">
            t.fee_type = #{params.feeType} AND
        </if>
        <if test="params.feeSegmentRule != null and params.feeSegmentRule.trim() != ''">
            t.fee_segment_rule LIKE CONCAT(#{params.feeSegmentRule},'%') AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>