<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.channel.mapper.ChannelBankTypeMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.channel.model.ChannelBankType">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="channel_no" jdbcType="INTEGER" property="channelNo"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="bank_type" jdbcType="VARCHAR" property="bankType"/>
        <result column="channel_bank_type" jdbcType="VARCHAR" property="channelBankType"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.channel_no
             , t.pay_type
             , t.bank_type
             , t.channel_bank_type
             , t.remark
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM channel_bank_type t
        WHERE
        <if test="params.channelNo != null and params.channelNo.trim() != ''">
            t.channel_no = #{params.channelNo} AND
        </if>
        <if test="params.payType != null and params.payType.trim() != ''">
            t.pay_type = #{params.payType} AND
        </if>
        <if test="params.bankType != null and params.bankType.trim() != ''">
            t.bank_type = #{params.bankType} AND
        </if>
        <if test="params.channelBankType != null and params.channelBankType.trim() != ''">
            t.channel_bank_type LIKE CONCAT(#{params.channelBankType},'%') AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>