<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.channel.mapper.ChannelExtParamMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.channel.model.ChannelExtParam">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="channel_no" jdbcType="INTEGER" property="channelNo"/>
        <result column="channel_merchant_no" jdbcType="VARCHAR" property="channelMerchantNo"/>
        <result column="param_key" jdbcType="VARCHAR" property="paramKey"/>
        <result column="param_value" jdbcType="VARCHAR" property="paramValue"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.channel_no
             , t.channel_merchant_no
             , t.param_key
             , t.param_value
             , t.remark
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM channel_ext_param t
        WHERE
        <if test="params.channelNo != null and params.channelNo.trim() != ''">
            t.channel_no = #{params.channelNo} AND
        </if>
        <if test="params.channelMerchantNo != null and params.channelMerchantNo.trim() != ''">
            t.channel_merchant_no LIKE CONCAT(#{params.channelMerchantNo},'%') AND
        </if>
        <if test="params.paramKey != null and params.paramKey.trim() != ''">
            t.param_key LIKE CONCAT(#{params.paramKey},'%') AND
        </if>
        <if test="params.paramValue != null and params.paramValue.trim() != ''">
            t.param_value LIKE CONCAT(#{params.paramValue},'%') AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>