<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.channel.mapper.ChannelMccMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.channel.model.ChannelMcc">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="channel_no" jdbcType="INTEGER" property="channelNo"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="mcc" jdbcType="INTEGER" property="mcc"/>
        <result column="channel_mcc" jdbcType="VARCHAR" property="channelMcc"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.channel_no
             , t.pay_type
             , t.mcc
             , t.channel_mcc
             , t.remark
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM channel_mcc t
        WHERE
        <if test="params.channelNo != null and params.channelNo.trim() != ''">
            t.channel_no = #{params.channelNo} AND
        </if>
        <if test="params.payType != null and params.payType.trim() != ''">
            t.pay_type = #{params.payType} AND
        </if>
        <if test="params.mcc != null and params.mcc.trim() != ''">
            t.mcc = #{params.mcc} AND
        </if>
        <if test="params.channelMcc != null and params.channelMcc.trim() != ''">
            t.channel_mcc LIKE CONCAT(#{params.channelMcc},'%') AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>