<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.account.mapper.AccountAdjustBillMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.account.model.AccountAdjustBill">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="adjust_trans_id" jdbcType="VARCHAR" property="adjustTransId"/>
        <result column="trans_type" jdbcType="TINYINT" property="transType"/>
        <result column="voucher_type" jdbcType="INTEGER" property="voucherType"/>
        <result column="account_trans_id" jdbcType="VARCHAR" property="accountTransId"/>
        <result column="account_date" jdbcType="INTEGER" property="accountDate"/>
        <result column="account_no" jdbcType="BIGINT" property="accountNo"/>
        <result column="cust_no" jdbcType="BIGINT" property="custNo"/>
        <result column="income_amount" jdbcType="BIGINT" property="incomeAmount"/>
        <result column="outgo_amount" jdbcType="BIGINT" property="outgoAmount"/>
        <result column="adjust_reason" jdbcType="VARCHAR" property="adjustReason"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.adjust_trans_id
             , t.trans_type
             , t.voucher_type
             , t.account_trans_id
             , t.account_date
             , t.account_no
             , t.cust_no
             , t.income_amount
             , t.outgo_amount
             , t.adjust_reason
             , t.state
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM account_adjust_bill t
        WHERE
        <if test="params.adjustTransId != null and params.adjustTransId.trim() != ''">
            t.adjust_trans_id = #{params.adjustTransId} AND
        </if>
        <if test="params.transType != null and params.transType.trim() != ''">
            t.trans_type = #{params.transType} AND
        </if>
        <if test="params.voucherType != null and params.voucherType.trim() != ''">
            t.voucher_type = #{params.voucherType} AND
        </if>
        <if test="params.accountTransId != null and params.accountTransId.trim() != ''">
            t.account_trans_id = #{params.accountTransId} AND
        </if>
        <if test="params.accountDate != null and params.accountDate.trim() != ''">
            t.account_date = #{params.accountDate} AND
        </if>
        <if test="params.accountNo != null and params.accountNo.trim() != ''">
            t.account_no = #{params.accountNo} AND
        </if>
        <if test="params.custNo != null and params.custNo.trim() != ''">
            t.cust_no = #{params.custNo} AND
        </if>
        <if test="params.state != null and params.state.trim() != ''">
            t.state = #{params.state} AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>

    <select id="querySum" resultType="java.util.HashMap">
        SELECT SUM(t.income_amount) incomeAmount
        , SUM(t.outgo_amount) outgoAmount
        <include refid="whereCondition"/>
    </select>

</mapper>