<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.account.mapper.AccountTransDetailMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.account.model.AccountTransDetail">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account_trans_id" jdbcType="VARCHAR" property="accountTransId"/>
        <result column="account_no" jdbcType="BIGINT" property="accountNo"/>
        <result column="cust_no" jdbcType="BIGINT" property="custNo"/>
        <result column="merchant_no" jdbcType="BIGINT" property="merchantNo"/>
        <result column="account_date" jdbcType="INTEGER" property="accountDate"/>
        <result column="begin_amount" jdbcType="BIGINT" property="beginAmount"/>
        <result column="income_amount" jdbcType="BIGINT" property="incomeAmount"/>
        <result column="outgo_amount" jdbcType="BIGINT" property="outgoAmount"/>
        <result column="freeze_amount" jdbcType="BIGINT" property="freezeAmount"/>
        <result column="unfreeze_amount" jdbcType="BIGINT" property="unfreezeAmount"/>
        <result column="end_amount" jdbcType="BIGINT" property="endAmount"/>
        <result column="undo_flag" jdbcType="TINYINT" property="undoFlag"/>
        <result column="ref_order_id" jdbcType="VARCHAR" property="refOrderId"/>
        <result column="ref_trans_id" jdbcType="VARCHAR" property="refTransId"/>
        <result column="ref_trans_type" jdbcType="TINYINT" property="refTransType"/>
        <result column="voucher_type" jdbcType="TINYINT" property="voucherType"/>
        <result column="zy" jdbcType="VARCHAR" property="zy"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.account_trans_id
             , t.account_no
             , t.cust_no
             , t.merchant_no
             , t.account_date
             , t.begin_amount
             , t.income_amount
             , t.outgo_amount
             , t.freeze_amount
             , t.unfreeze_amount
             , t.end_amount
             , t.undo_flag
             , t.ref_order_id
             , t.ref_trans_id
             , t.ref_trans_type
             , t.voucher_type
             , t.zy
             , t.ip
             , t.note
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM account_trans_detail t
        WHERE
        <if test="params.accountTransId != null and params.accountTransId.trim() != ''">
            t.account_trans_id = #{params.accountTransId} AND
        </if>
        <if test="params.accountNo != null and params.accountNo.trim() != ''">
            t.account_no = #{params.accountNo} AND
        </if>
        <if test="params.custNo != null and params.custNo.trim() != ''">
            t.cust_no = #{params.custNo} AND
        </if>
        <if test="params.merchantNo != null and params.merchantNo.trim() != ''">
            t.merchant_no = #{params.merchantNo} AND
        </if>
        <if test="params.accountDate != null and params.accountDate.trim() != ''">
            t.account_date = #{params.accountDate} AND
        </if>
        <if test="params.undoFlag != null and params.undoFlag.trim() != ''">
            t.undo_flag = #{params.undoFlag} AND
        </if>
        <if test="params.refOrderId != null and params.refOrderId.trim() != ''">
            t.ref_order_id = #{params.refOrderId} AND
        </if>
        <if test="params.refTransId != null and params.refTransId.trim() != ''">
            t.ref_trans_id = #{params.refTransId} AND
        </if>
        <if test="params.refTransType != null and params.refTransType.trim() != ''">
            t.ref_trans_type = #{params.refTransType} AND
        </if>
        <if test="params.voucherType != null and params.voucherType.trim() != ''">
            t.voucher_type = #{params.voucherType} AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>