<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.risk.mapper.MerchantTransSumMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.risk.model.MerchantTransSum">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="trans_date" jdbcType="INTEGER" property="transDate"/>
        <result column="merchant_no" jdbcType="BIGINT" property="merchantNo"/>
        <result column="trans_type" jdbcType="TINYINT" property="transType"/>
        <result column="day_use_number" jdbcType="INTEGER" property="dayUseNumber"/>
        <result column="day_use_amount" jdbcType="BIGINT" property="dayUseAmount"/>
        <result column="month_use_number" jdbcType="INTEGER" property="monthUseNumber"/>
        <result column="month_use_amount" jdbcType="BIGINT" property="monthUseAmount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.trans_date
             , t.merchant_no
             , t.trans_type
             , t.day_use_number
             , t.day_use_amount
             , t.month_use_number
             , t.month_use_amount
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM merchant_trans_sum t
        WHERE
        <if test="params.transDateBegin != null and params.transDateBegin.trim() != ''">
            t.trans_date BETWEEN #{params.transDateBegin} AND #{params.transDateEnd} AND
        </if>
        <if test="params.merchantNo != null and params.merchantNo.trim() != ''">
            t.merchant_no = #{params.merchantNo} AND
        </if>
        <if test="params.transType != null and params.transType.trim() != ''">
            t.trans_type = #{params.transType} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>

    <select id="querySum" resultType="java.util.HashMap">
        SELECT SUM(t.day_use_number) dayUseNumber
        , SUM(t.day_use_amount) dayUseAmount
        , SUM(t.month_use_number) monthUseNumber
        , SUM(t.month_use_amount) monthUseAmount
        <include refid="whereCondition"/>
    </select>

</mapper>