<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.trade.mapper.AsyncTransHandleMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.trade.model.AsyncTransHandle">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="trans_id" jdbcType="VARCHAR" property="transId"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="result_code" jdbcType="VARCHAR" property="resultCode"/>
        <result column="result_note" jdbcType="VARCHAR" property="resultNote"/>
        <result column="deal_times" jdbcType="INTEGER" property="dealTimes"/>
        <result column="priority" jdbcType="TINYINT" property="priority"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.trans_id
             , t.pay_type
             , t.result_code
             , t.result_note
             , t.deal_times
             , t.priority
             , t.state
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM async_trans_handle t
        WHERE
        <if test="params.transId != null and params.transId.trim() != ''">
            t.trans_id = #{params.transId} AND
        </if>
        <if test="params.payType != null and params.payType.trim() != ''">
            t.pay_type = #{params.payType} AND
        </if>
        <if test="params.resultCode != null and params.resultCode.trim() != ''">
            t.result_code = #{params.resultCode} AND
        </if>
        <if test="params.dealTimesBegin != null and params.dealTimesBegin.trim() != ''">
            t.deal_times BETWEEN #{params.dealTimesBegin} AND #{params.dealTimesEnd} AND
        </if>
        <if test="params.state != null and params.state.trim() != ''">
            t.state = #{params.state} AND
        </if>
        <if test="params.updateTimeBegin != null and params.updateTimeBegin.trim() != ''">
            t.update_time BETWEEN #{params.updateTimeBegin} AND #{params.updateTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>