<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.trade.mapper.TransPayBillMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.trade.model.TransPayBill">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="trans_id" jdbcType="VARCHAR" property="transId"/>
        <result column="order_date" jdbcType="INTEGER" property="orderDate"/>
        <result column="pay_date" jdbcType="INTEGER" property="payDate"/>
        <result column="bank_account_no" jdbcType="VARCHAR" property="bankAccountNo"/>
        <result column="bank_account_name" jdbcType="VARCHAR" property="bankAccountName"/>
        <result column="bank_account_type" jdbcType="TINYINT" property="bankAccountType"/>
        <result column="bank_account_expiry" jdbcType="VARCHAR" property="bankAccountExpiry"/>
        <result column="bank_type" jdbcType="VARCHAR" property="bankType"/>
        <result column="bank_name" jdbcType="VARCHAR" property="bankName"/>
        <result column="bank_protocol" jdbcType="VARCHAR" property="bankProtocol"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="certificate_type" jdbcType="TINYINT" property="certificateType"/>
        <result column="certificate_no" jdbcType="VARCHAR" property="certificateNo"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="pay_result_code" jdbcType="VARCHAR" property="payResultCode"/>
        <result column="pay_result_note" jdbcType="VARCHAR" property="payResultNote"/>
        <result column="channel_no" jdbcType="INTEGER" property="channelNo"/>
        <result column="channel_send_sn" jdbcType="VARCHAR" property="channelSendSn"/>
        <result column="channel_send_time" jdbcType="TIMESTAMP" property="channelSendTime"/>
        <result column="channel_send_ext" jdbcType="VARCHAR" property="channelSendExt"/>
        <result column="channel_merchant_no" jdbcType="VARCHAR" property="channelMerchantNo"/>
        <result column="channel_merchant_name" jdbcType="VARCHAR" property="channelMerchantName"/>
        <result column="channel_sub_merchant_no" jdbcType="VARCHAR" property="channelSubMerchantNo"/>
        <result column="channel_amount" jdbcType="BIGINT" property="channelAmount"/>
        <result column="channel_mcc" jdbcType="VARCHAR" property="channelMcc"/>
        <result column="channel_city" jdbcType="VARCHAR" property="channelCity"/>
        <result column="channel_bank_account_type" jdbcType="VARCHAR" property="channelBankAccountType"/>
        <result column="channel_bank_type" jdbcType="VARCHAR" property="channelBankType"/>
        <result column="channel_certificate_type" jdbcType="VARCHAR" property="channelCertificateType"/>
        <result column="channel_account_date" jdbcType="INTEGER" property="channelAccountDate"/>
        <result column="channel_recv_sn" jdbcType="VARCHAR" property="channelRecvSn"/>
        <result column="channel_recv_time" jdbcType="TIMESTAMP" property="channelRecvTime"/>
        <result column="channel_recv_ext" jdbcType="VARCHAR" property="channelRecvExt"/>
        <result column="channel_recv_url" jdbcType="VARCHAR" property="channelRecvUrl"/>
        <result column="channel_result_code" jdbcType="VARCHAR" property="channelResultCode"/>
        <result column="channel_result_note" jdbcType="VARCHAR" property="channelResultNote"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="check_state" jdbcType="TINYINT" property="checkState"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.trans_id
             , t.order_date
             , t.pay_date
             , t.bank_account_no
             , t.bank_account_name
             , t.bank_account_type
             , t.bank_type
             , t.mobile
             , t.certificate_no
             , t.pay_type
             , t.pay_result_code
             , t.pay_result_note
             , t.channel_no
             , t.channel_send_sn
             , t.channel_send_time
             , t.channel_merchant_no
             , t.channel_merchant_name
             , t.channel_amount
             , t.channel_account_date
             , t.channel_recv_sn
             , t.channel_recv_time
             , t.channel_result_code
             , t.channel_result_note
             , t.state
             , t.check_state
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM trans_pay_bill t
        WHERE
        <if test="params.transId != null and params.transId.trim() != ''">
            t.trans_id = #{params.transId} AND
        </if>
            t.order_date BETWEEN #{params.orderDateBegin} AND #{params.orderDateEnd} AND
        <if test="params.payDate != null and params.payDate.trim() != ''">
            t.pay_date = #{params.payDate} AND
        </if>
        <if test="params.bankAccountNo != null and params.bankAccountNo.trim() != ''">
            t.bank_account_no = #{params.bankAccountNo} AND
        </if>
        <if test="params.bankAccountType != null and params.bankAccountType.trim() != ''">
            t.bank_account_type = #{params.bankAccountType} AND
        </if>
        <if test="params.bankType != null and params.bankType.trim() != ''">
            t.bank_type = #{params.bankType} AND
        </if>
        <if test="params.bankProtocol != null and params.bankProtocol.trim() != ''">
            t.bank_protocol = #{params.bankProtocol} AND
        </if>
        <if test="params.mobile != null and params.mobile.trim() != ''">
            t.mobile = #{params.mobile} AND
        </if>
        <if test="params.certificateNo != null and params.certificateNo.trim() != ''">
            t.certificate_no = #{params.certificateNo} AND
        </if>
        <if test="params.payType != null and params.payType.trim() != ''">
            t.pay_type = #{params.payType} AND
        </if>
        <if test="params.channelNo != null and params.channelNo.trim() != ''">
            t.channel_no = #{params.channelNo} AND
        </if>
        <if test="params.channelSendSn != null and params.channelSendSn.trim() != ''">
            t.channel_send_sn = #{params.channelSendSn} AND
        </if>
        <if test="params.channelRecvSn != null and params.channelRecvSn.trim() != ''">
            t.channel_recv_sn = #{params.channelRecvSn} AND
        </if>
        <if test="params.channelResultCode != null and params.channelResultCode.trim() != ''">
            t.channel_result_code LIKE CONCAT(#{params.channelResultCode},'%') AND
        </if>
        <if test="params.channelResultNote != null and params.channelResultNote.trim() != ''">
            t.channel_result_note LIKE CONCAT(#{params.channelResultNote},'%') AND
        </if>
        <if test="params.state != null and params.state.trim() != ''">
            t.state = #{params.state} AND
        </if>
        <if test="params.checkState != null and params.checkState.trim() != ''">
            t.check_state = #{params.checkState} AND
        </if>
        <if test="params.createTimeBegin != null and params.createTimeBegin.trim() != ''">
            t.create_time BETWEEN #{params.createTimeBegin} AND #{params.createTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>

    <select id="querySum" resultType="java.util.HashMap">
        SELECT SUM(t.channel_amount) channelAmount
        <include refid="whereCondition"/>
    </select>

</mapper>