<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.trade.mapper.TransBillMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.trade.model.TransBill">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="trans_id" jdbcType="VARCHAR" property="transId"/>
        <result column="trans_date" jdbcType="INTEGER" property="transDate"/>
        <result column="trans_type" jdbcType="TINYINT" property="transType"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="order_date" jdbcType="INTEGER" property="orderDate"/>
        <result column="order_note" jdbcType="VARCHAR" property="orderNote"/>
        <result column="order_amount" jdbcType="BIGINT" property="orderAmount"/>
        <result column="order_domain" jdbcType="VARCHAR" property="orderDomain"/>
        <result column="order_ip" jdbcType="VARCHAR" property="orderIp"/>
        <result column="order_device_info" jdbcType="VARCHAR" property="orderDeviceInfo"/>
        <result column="order_mcc" jdbcType="INTEGER" property="orderMcc"/>
        <result column="order_city" jdbcType="INTEGER" property="orderCity"/>
        <result column="order_expiry_time" jdbcType="TIMESTAMP" property="orderExpiryTime"/>
        <result column="notify_pg_url" jdbcType="VARCHAR" property="notifyPgUrl"/>
        <result column="notify_bg_url" jdbcType="VARCHAR" property="notifyBgUrl"/>
        <result column="merchant_no" jdbcType="BIGINT" property="merchantNo"/>
        <result column="merchant_name" jdbcType="VARCHAR" property="merchantName"/>
        <result column="merchant_cust_no" jdbcType="BIGINT" property="merchantCustNo"/>
        <result column="merchant_account_no" jdbcType="BIGINT" property="merchantAccountNo"/>
        <result column="merchant_fee" jdbcType="BIGINT" property="merchantFee"/>
        <result column="sub_merchant_no" jdbcType="BIGINT" property="subMerchantNo"/>
        <result column="sub_merchant_cust_no" jdbcType="BIGINT" property="subMerchantCustNo"/>
        <result column="sub_merchant_account_no" jdbcType="BIGINT" property="subMerchantAccountNo"/>
        <result column="sub_merchant_fee" jdbcType="BIGINT" property="subMerchantFee"/>
        <result column="consumer_fee" jdbcType="BIGINT" property="consumerFee"/>
        <result column="settlement_amount" jdbcType="BIGINT" property="settlementAmount"/>
        <result column="account_trans_id" jdbcType="VARCHAR" property="accountTransId"/>
        <result column="account_trans_time" jdbcType="TIMESTAMP" property="accountTransTime"/>
        <result column="account_date" jdbcType="INTEGER" property="accountDate"/>
        <result column="undo_account_trans_id" jdbcType="VARCHAR" property="undoAccountTransId"/>
        <result column="undo_account_trans_time" jdbcType="TIMESTAMP" property="undoAccountTransTime"/>
        <result column="undo_account_date" jdbcType="INTEGER" property="undoAccountDate"/>
        <result column="pay_model" jdbcType="TINYINT" property="payModel"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="pay_id" jdbcType="BIGINT" property="payId"/>
        <result column="pay_route_info" jdbcType="VARCHAR" property="payRouteInfo"/>
        <result column="pay_result_code" jdbcType="VARCHAR" property="payResultCode"/>
        <result column="pay_result_note" jdbcType="VARCHAR" property="payResultNote"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="notify_state" jdbcType="TINYINT" property="notifyState"/>
        <result column="check_state" jdbcType="TINYINT" property="checkState"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.trans_id
             , t.trans_date
             , t.trans_type
             , t.order_id
             , t.order_date
             , t.order_note
             , t.order_amount
             , t.order_domain
             , t.order_ip
             , t.order_device_info
             , t.order_mcc
             , t.order_city
             , t.order_expiry_time
             , t.notify_pg_url
             , t.notify_bg_url
             , t.merchant_no
             , t.merchant_name
             , t.merchant_cust_no
             , t.merchant_account_no
             , t.merchant_fee
             , t.sub_merchant_no
             , t.sub_merchant_cust_no
             , t.sub_merchant_account_no
             , t.sub_merchant_fee
             , t.consumer_fee
             , t.settlement_amount
             , t.account_trans_id
             , t.account_trans_time
             , t.account_date
             , t.undo_account_trans_id
             , t.undo_account_trans_time
             , t.undo_account_date
             , t.pay_model
             , t.pay_type
             , t.pay_id
             , t.pay_route_info
             , t.pay_result_code
             , t.pay_result_note
             , t.state
             , t.notify_state
             , t.check_state
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM trans_bill t
        WHERE
        <if test="params.transId != null and params.transId.trim() != ''">
            t.trans_id = #{params.transId} AND
        </if>
        <if test="params.transType != null and params.transType.trim() != ''">
            t.trans_type = #{params.transType} AND
        </if>
        <if test="params.orderId != null and params.orderId.trim() != ''">
            t.order_id = #{params.orderId} AND
        </if>
            t.order_date BETWEEN #{params.orderDateBegin} AND #{params.orderDateEnd} AND
        <if test="params.orderAmountBegin != null and params.orderAmountBegin.trim() != ''">
            t.order_amount BETWEEN #{params.orderAmountBegin} AND #{params.orderAmountEnd} AND
        </if>
        <if test="params.merchantNo != null and params.merchantNo.trim() != ''">
            t.merchant_no = #{params.merchantNo} AND
        </if>
        <if test="params.accountTransId != null and params.accountTransId.trim() != ''">
            t.account_trans_id = #{params.accountTransId} AND
        </if>
        <if test="params.accountDate != null and params.accountDate.trim() != ''">
            t.account_date = #{params.accountDate} AND
        </if>
        <if test="params.undoAccountTransId != null and params.undoAccountTransId.trim() != ''">
            t.undo_account_trans_id = #{params.undoAccountTransId} AND
        </if>
        <if test="params.undoAccountDate != null and params.undoAccountDate.trim() != ''">
            t.undo_account_date = #{params.undoAccountDate} AND
        </if>
        <if test="params.payModel != null and params.payModel.trim() != ''">
            t.pay_model = #{params.payModel} AND
        </if>
        <if test="params.payType != null and params.payType.trim() != ''">
            t.pay_type = #{params.payType} AND
        </if>
        <if test="params.payResultCode != null and params.payResultCode.trim() != ''">
            t.pay_result_code LIKE CONCAT(#{params.payResultCode},'%') AND
        </if>
        <if test="params.state != null and params.state.trim() != ''">
            t.state = #{params.state} AND
        </if>
        <if test="params.notifyState != null and params.notifyState.trim() != ''">
            t.notify_state = #{params.notifyState} AND
        </if>
        <if test="params.checkState != null and params.checkState.trim() != ''">
            t.check_state = #{params.checkState} AND
        </if>
        <if test="params.createTimeBegin != null and params.createTimeBegin.trim() != ''">
            t.create_time BETWEEN #{params.createTimeBegin} AND #{params.createTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>

    <select id="querySum" resultType="java.util.HashMap">
        SELECT SUM(t.order_amount) orderAmount
        , SUM(t.merchant_fee) merchantFee
        , SUM(t.consumer_fee) consumerFee
        , SUM(t.settlement_amount) settlementAmount
        <include refid="whereCondition"/>
    </select>

</mapper>