<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.platform.mapper.AdminMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.platform.model.Admin">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_code" jdbcType="VARCHAR" property="userCode"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="is_system" jdbcType="INTEGER" property="isSystem"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="token_expire" jdbcType="TIMESTAMP" property="tokenExpire"/>
        <result column="login_count" jdbcType="INTEGER" property="loginCount"/>
        <result column="login_error_count" jdbcType="INTEGER" property="loginErrorCount"/>
        <result column="locked_expired_time" jdbcType="TIMESTAMP" property="lockedExpiredTime"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectSql">
        FROM admin t
        WHERE 1=1
        <if test="params.userCode != null and params.userCode.trim() != ''">
            AND t.user_code LIKE CONCAT(#{params.userCode},'%')
        </if>
        <if test="params.userName != null and params.userName.trim() != ''">
            AND t.user_name LIKE CONCAT(#{params.userName},'%')
        </if>
        <if test="params.mobile != null and params.mobile.trim() != ''">
            AND t.mobile = #{params.mobile}
        </if>
        <if test="params.state != null and params.state.trim() != ''">
            AND t.state = #{params.state}
        </if>
        <if test="params.isSystem != null and params.isSystem.trim() != ''">
            AND t.is_system = #{params.isSystem}
        </if>
        <if test="params.createTimeBegin != null and params.createTimeBegin.trim() != ''">
            AND t.create_time BETWEEN #{params.createTimeBegin} AND #{params.createTimeEnd}
        </if>
        ORDER BY t.id DESC
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.user_code,
        t.user_name,
        t.mobile,
        t.email,
        t.state,
        t.login_count,
        t.login_error_count,
        t.locked_expired_time,
        t.last_login_time,
        t.last_login_ip,
        t.create_time,
        t.update_time,
        1
        <include refid="selectSql"/>
    </select>

    <!--根据用户号获取用户信息 -->
    <select id="selectByUserCode" parameterType="String" resultMap="BaseResultMap">
		select * from admin where user_code = #{userCode};
	</select>

    <!--删除用户和用户关联表 -->
    <delete id="deleteNotSystemAdminById" parameterType="java.lang.Long">
		delete from admin where id=#{id} and is_system !=0;
	</delete>

</mapper>
