<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.platform.mapper.AuditInfoMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.platform.model.AuditInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="data_type" jdbcType="VARCHAR" property="dataType"/>
        <result column="data_old" jdbcType="VARCHAR" property="dataOld"/>
        <result column="data_new" jdbcType="VARCHAR" property="dataNew"/>
        <result column="applicant" jdbcType="VARCHAR" property="applicant"/>
        <result column="audit_type" jdbcType="TINYINT" property="auditType"/>
        <result column="audit_note" jdbcType="VARCHAR" property="auditNote"/>
        <result column="audit_user" jdbcType="VARCHAR" property="auditUser"/>
        <result column="audit_remark" jdbcType="VARCHAR" property="auditRemark"/>
        <result column="audit_state" jdbcType="TINYINT" property="auditState"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.data_type
             , t.data_old
             , t.data_new
             , t.applicant
             , t.audit_type
             , t.audit_note
             , t.audit_user
             , t.audit_remark
             , t.audit_state
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM audit_info t
        WHERE
        <if test="params.dataType != null and params.dataType.trim() != ''">
            t.data_type = #{params.dataType} AND
        </if>
        <if test="params.applicant != null and params.applicant.trim() != ''">
            t.applicant LIKE CONCAT(#{params.applicant},'%') AND
        </if>
        <if test="params.auditType != null and params.auditType.trim() != ''">
            t.audit_type = #{params.auditType} AND
        </if>
        <if test="params.auditUser != null and params.auditUser.trim() != ''">
            t.audit_user LIKE CONCAT(#{params.auditUser},'%') AND
        </if>
        <if test="params.auditState != null and params.auditState.trim() != ''">
            t.audit_state = #{params.auditState} AND
        </if>
        <if test="params.createTimeBegin != null and params.createTimeBegin.trim() != ''">
            t.create_time BETWEEN #{params.createTimeBegin} AND #{params.createTimeEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY audit_state desc, t.id DESC
    </select>


</mapper>