<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.platform.mapper.DictMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.platform.model.Dict">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="system_code" jdbcType="VARCHAR" property="systemCode"/>
        <result column="dict_type" jdbcType="VARCHAR" property="dictType"/>
        <result column="dict_name" jdbcType="VARCHAR" property="dictName"/>
        <result column="dict_key" jdbcType="VARCHAR" property="dictKey"/>
        <result column="dict_value" jdbcType="VARCHAR" property="dictValue"/>
        <result column="dict_icon" jdbcType="VARCHAR" property="dictIcon"/>
        <result column="select_enable" jdbcType="TINYINT" property="selectEnable"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT
            t.id,
            t.system_code,
            t.dict_type,
            t.dict_name,
            t.dict_key,
            t.dict_value,
            t.dict_icon,
            t.select_enable,
            t.priority,
            t.update_time
    </sql>

    <sql id="whereCondition">
        FROM dict t
        WHERE 1=1
        <if test="params.dictType != null and params.dictType.trim() != ''">
            AND t.dict_type = #{params.dictType}
        </if>
        <if test="params.dictKey != null and params.dictKey.trim() != ''">
            AND t.dict_key like CONCAT(#{params.dictKey},'%')
        </if>
        <if test="params.dictValue != null and params.dictValue.trim() != ''">
            AND t.dict_value like CONCAT(#{params.dictValue},'%')
        </if>
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.dict_type,t.priority
    </select>
    <select id="selectAllType" resultMap="BaseResultMap">
        SELECT dict_type,dict_name from dict group by dict_type,dict_name
    </select>
    <select id="selectDictByType" resultMap="BaseResultMap">
        SELECT dict_key,dict_value from dict  where dict_type=#{dictType} order by dict_key
    </select>

</mapper>