<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.platform.mapper.GatewayServiceMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.platform.model.GatewayService">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="service" jdbcType="VARCHAR" property="service"/>
        <result column="service_name" jdbcType="VARCHAR" property="serviceName"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="resource" jdbcType="VARCHAR" property="resource"/>
        <result column="route_id" jdbcType="VARCHAR" property="routeId"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="max_access" jdbcType="INTEGER" property="maxAccess"/>
        <result column="times" jdbcType="INTEGER" property="times"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id
             , t.service
             , t.service_name
             , t.group_name
             , t.resource
             , t.route_id
             , t.state
             , t.max_access
             , t.times
             , t.priority
             , t.create_time
             , t.update_time
    </sql>

    <sql id="whereCondition">
        FROM gateway_service t
        WHERE
        <if test="params.service != null and params.service.trim() != ''">
            t.service LIKE CONCAT(#{params.service},'%') AND
        </if>
        <if test="params.groupName != null and params.groupName.trim() != ''">
            t.group_name = #{params.groupName} AND
        </if>
        <if test="params.state != null and params.state.trim() != ''">
            t.state = #{params.state} AND
        </if>
        <if test="params.maxAccessBegin != null and params.maxAccessBegin.trim() != ''">
            t.max_access BETWEEN #{params.maxAccessBegin} AND #{params.maxAccessEnd} AND
        </if>
        <if test="params.timesBegin != null and params.timesBegin.trim() != ''">
            t.times BETWEEN #{params.timesBegin} AND #{params.timesEnd} AND
        </if>
        1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>

    <select id="getAllService" resultMap="BaseResultMap">
        SELECT t.service
             , t.service_name
             , t.max_access
             , t.times
        from gateway_service t  where state=0  ORDER BY t.priority DESC
    </select>

</mapper>