<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.platform.mapper.GrayRuleMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.platform.model.GrayRule">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="rule" jdbcType="VARCHAR" property="rule"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
       <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT
            t.id,
            t.rule_name,
            t.rule,
            t.state,
            t.create_time,
            t.update_time,
            1
    </sql>

    <sql id="whereCondition">
        FROM gray_rule t
        WHERE 1=1
        <if test="params.ruleName != null and params.ruleName.trim() != ''">
            AND t.rule_name = #{params.ruleName}
        </if>
        <if test="params.rule != null and params.rule.trim() != ''">
            AND t.rule LIKE CONCAT(#{params.rule},'%')
        </if>
        <if test="params.state != null and params.state.trim() != ''">
            AND t.state = #{params.state}
        </if>
        <if test="params.auditState != null and params.auditState.trim() != '' and params.auditState == 1">
            AND t.audit_state != 0
        </if>
        <if test="params.auditState != null and params.auditState.trim() != '' and params.auditState != 1">
            AND t.audit_state = #{params.auditState}
        </if>
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>