<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.platform.mapper.LogMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.platform.model.Log">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="log_user" jdbcType="VARCHAR" property="logUser"/>
        <result column="system_code" jdbcType="VARCHAR" property="systemCode"/>
        <result column="log_group" jdbcType="VARCHAR" property="logGroup"/>
        <result column="log_type" jdbcType="INTEGER" property="logType"/>
        <result column="log_action" jdbcType="VARCHAR" property="logAction"/>
        <result column="log_remark" jdbcType="VARCHAR" property="logRemark"/>
        <result column="log_detail" jdbcType="VARCHAR" property="logDetail"/>
        <result column="log_old_detail" jdbcType="VARCHAR" property="logOldDetail"/>
        <result column="log_operated" jdbcType="VARCHAR" property="logOperated"/>
        <result column="log_ip" jdbcType="VARCHAR" property="logIp"/>
        <result column="log_time" jdbcType="TIMESTAMP" property="logTime"/>
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.log_user,
        t.system_code,
        t.log_group,
        t.log_type,
        t.log_action,
        t.log_remark,
        t.log_old_detail,
        t.log_detail,
        t.log_operated,
        t.log_ip,
        t.log_time
        <include refid="selectSql"/>
    </select>

    <sql id="selectSql">
        FROM log t
        WHERE 1=1
        <if test="params.logUser != null and params.logUser.trim() != ''">
            AND t.log_user LIKE CONCAT(#{params.logUser},'%')
        </if>
        <if test="params.systemCode != null and params.systemCode.trim() != ''">
            AND t.system_code = #{params.systemCode}
        </if>
        <if test="params.logGroup != null and params.logGroup.trim() != ''">
            AND t.log_group = #{params.logGroup}
        </if>
        <if test="params.logType != null">
            AND t.log_type = #{params.logType}
        </if>
        <if test="params.logAction != null and params.logAction.trim() != ''">
            AND t.log_action LIKE CONCAT(#{params.logAction},'%')
        </if>
        <if test="params.logOperated != null and params.logOperated.trim() != ''">
            AND t.log_operated LIKE CONCAT(#{params.logOperated},'%')
        </if>
        <if test="params.logIp != null and params.logIp.trim() != ''">
            AND t.log_ip = #{params.logIp}
        </if>
        AND t.log_time BETWEEN #{params.logTimeBegin} AND #{params.logTimeEnd}
        ORDER BY t.id DESC
    </sql>

</mapper>
