<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.platform.mapper.MenuMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.platform.model.Menu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="system_code" jdbcType="VARCHAR" property="systemCode"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="hide_children" jdbcType="TINYINT" property="hideChildren"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="redirect" jdbcType="VARCHAR" property="redirect"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectSql">
        FROM menu t
        WHERE 1=1
        <if test="params.systemCode != null and params.systemCode.trim() != ''">
            AND t.system_code = #{params.systemCode}
        </if>
        <if test="params.title != null and params.title.trim() != ''">
            AND t.title LIKE CONCAT(#{params.title},'%')
        </if>
        <if test="params.path != null and params.path.trim() != ''">
            AND t.path LIKE CONCAT(#{params.path},'%')
        </if>
        <if test="params.code != null and params.code.trim() != ''">
            AND t.code = #{params.code}
        </if>
        ORDER BY t.id DESC
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.system_code,
        t.title,
        t.type,
        t.icon,
        t.path,
        t.redirect,
        t.hide_children,
        t.name,
        t.code,
        t.priority,
        t.parent_id,
        t.create_time,
        t.update_time,
        1
        <include refid="selectSql"/>
    </select>

    <select id="selectAllCode" parameterType="String" resultType="java.lang.String">
		select code from menu where system_code = #{systemCode}
	</select>
    <select id="selectAllMenu" parameterType="String" resultMap="BaseResultMap">
        select m.id,m.system_code,m.title,m.type,m.hide_children,m.icon,m.path,m.redirect,m.name,m.code,m.priority,m.parent_id from menu m
        where 1=1
        <if test="systemCode != null and systemCode.trim() != ''">
            AND system_code = #{systemCode}
        </if>
        order by parent_id,priority
    </select>
    <select id="selectAllCodeByAdminId" resultType="java.lang.String">
        select m.code from menu m
        left join role_menu rm on m.id= rm.menu_id
        left join role r on r.id= rm.role_id
        left join admin_role ar on r.id= ar.role_id
        left join admin a on a.id = ar.admin_id
        where
        a.id=#{id}
        <if test="systemCode != null and systemCode.trim() != ''">
            AND m.system_code = #{systemCode}
        </if>
        and r.state = 0 order by m.code
    </select>
    <select id="selectAllMenuByAdminId" resultMap="BaseResultMap">
        select m.id,m.title,m.type,m.hide_children,m.icon,m.path,m.redirect,m.name,m.code,m.priority,m.parent_id from menu m
        left join role_menu rm on m.id= rm.menu_id
        left join role r on r.id= rm.role_id
        left join admin_role ar on r.id= ar.role_id
        left join admin a on a.id = ar.admin_id
        where
        a.id=#{id}
        <if test="systemCode != null and systemCode.trim() != ''">
            AND m.system_code = #{systemCode}
        </if>
        and r.state = 0
        order by m.priority
    </select>
    <select id="selectAllMenuByRoleId" resultMap="BaseResultMap">
        select m.id,m.title from menu m
		left join role_menu rm on m.id= rm.menu_id
		left join role r on r.id= rm.role_id
		where r.id=#{id}
    </select>

    <update id="updateSystemCode">
        update  menu  set system_code=#{systemCode} where id in
        (select temp.id from (
            select id from menu where parent_id=#{parentId} or parent_id in ( select  t.id from menu t where t.parent_id=#{parentId} )
        ) temp)
    </update>
    <delete id="deleteChildrenButton">
        delete from menu where parent_id in (
            select id from ( select id  from menu where  parent_id = #{id} ) as temp
        )
    </delete>
    <delete id="deleteChildrenMenu">
        delete from menu where parent_id = #{id}
    </delete>
</mapper>
