<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noahpay.pay.commons.db.channel.mapper.RouteMerchantMapper">

    <!-- @kalvan-tools.generated -->
    <resultMap id="BaseResultMap" type="com.noahpay.pay.commons.db.channel.model.RouteMerchant">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="merchant_no" jdbcType="BIGINT" property="merchantNo"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="channel_no" jdbcType="INTEGER" property="channelNo"/>
        <result column="route_rule" jdbcType="VARCHAR" property="routeRule"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectAllField">
        SELECT t.id,
               t.merchant_no,
               t.pay_type,
               t.channel_no,
               t.route_rule,
               t.state,
               t.create_time,
               t.update_time,
               1
    </sql>

    <sql id="whereCondition">
        FROM route_merchant t
        WHERE 1=1
    </sql>

    <select id="queryPage" resultMap="BaseResultMap">
        <include refid="selectAllField"/>
        <include refid="whereCondition"/>
        ORDER BY t.id DESC
    </select>


</mapper>